
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*navbar*/
.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    display: inline-block;
}

.navbar-nav .nav-item .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: blue;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.navbar-nav .nav-item:hover .nav-link {
    color: black;
}

.navbar-nav .nav-item:hover .nav-link::before {
    width: 100%;
}
/*end of navbar*/
/*home section*/
.custom-padding{
    padding-top: 8rem;
}
.custom-img{
    width: 80%;

}
.section-padding
{
    padding-top: 5rem;
}
.custom-about-img{
    width: 75%;
}

@media only screen and (max-width:600px) {
    .custom-about-img{
        width: 80%;
    }
    .col-md-6 .custom-contact-img{
        width: 200px;
        height: 250px;
    } 
}

.custom-contact-img{
    width: 350px;
    height: 400px;
}